body {
    background: white;
    color: black;
    text-align: center;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

footer {
    font-size: medium;
    position: fixed;
    width: 20%;
    bottom: 0%;
}

.board {
    padding-top: 70%;
    width: 400px;
    height: 400px;
    margin: auto;
    border-width: 5px;
    border-style: dashed;

}

table,
td {
    border: 1px solid black;
    box-sizing: 20px;
    border-width: 3px;
    border-collapse: collapse;
    background-color: rgb(182, 179, 179);
    
}

.cell {
    width: 30px;
    height: 30px;
    font-size: 1em;
}


.cell:hover {
    background-color: rgb(196, 199, 199);
    cursor: pointer;

}

.mine {
    background-color: rgb(242, 104, 104);
}

.shown {
    background-color: rgb(203, 200, 200);
}

.restart img {
    height: 30px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.restart {
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    height: 50px;
    width: 50px;
}


.buttons button {
    margin-right: 15px;
}

.Beginner {

    font-size: small;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    height: 25px;
}

.medium {
    font-size: small;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    height: 25px;
}

.expert {
    height: 25px;
    font-size: small;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}


.lives {
    margin-top: 10px;
    margin-right: 330px;

}

.w3-container {
    margin: auto;
    background-color: rgb(230, 230, 230);
    border-radius: 30px;
    margin-top: 15%;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.timer{
    margin-left: 320px;
    font-size: medium;
    font-weight: bolder;
    font-family: 'Press Start 2P', cursive;
}